.button {
  border: none;
  padding: 10px 15px;
  background-color: #fb743e;
  color: white;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover,
.button:focus {
  background-color: #d3450d;
}
